 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url('images/b-min.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 751px;
}

.u-section-1 .u-group-1 {
  width: 730px;
  min-height: 431px;
  box-shadow: 0 0 40px 4px rgba(26,26,26,0.8);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 5deg;
  --animation-custom_in-scale: 1.05;
  margin: 160px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
  font-size: 1.125rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  letter-spacing: 1px;
  margin: 16px 0 0;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 24px 209px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-1 .u-group-1 {
    transition-duration: 0.5s;
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 98px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: 240px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    min-height: 464px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 520px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-2 .u-image-1 {
  min-height: 400px;
  background-image: url("images/6016017aa46f866ad5795ca6f6d6ce5d3f527cdfaf22367eaaea6ce58f98dbec8365b526881559fa6e75c944428fbe04b3ceef67c82be54465201b_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-2 .u-image-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-2 .u-image-1 {
    min-height: 253px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-2 .u-image-1 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-2 .u-image-1 {
    min-height: 239px;
  }
}

.u-section-2 .u-layout-cell-2,
.u-section-2 .u-layout-cell-2:before,
.u-section-2 .u-layout-cell-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-2 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 610px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 493px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-3 .u-container-layout-1 {
  padding: 60px;
}

.u-section-3 .u-text-1 {
  font-size: 12.5rem;
  font-weight: 900;
  line-height: 0.8;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  margin: 5px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 16px 0 0;
}

.u-section-3 .u-container-layout-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(249, 231, 155, 0.5), rgba(249, 231, 155, 0.5));
  background-size: cover;
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 520px;
  transition-duration: 0.5s;
  margin-bottom: 28px;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-3 .u-container-layout-3 {
  padding: 60px;
}

.u-section-3 .u-text-4 {
  font-size: 12.5rem;
  font-weight: 900;
  line-height: 0.8;
  margin: 0;
}

.u-section-3 .u-text-5 {
  font-size: 2.25rem;
  margin: 5px 0 0;
}

.u-section-3 .u-text-6 {
  margin: 16px 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 407px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 429px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 190px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 560px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 21px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding: 30px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 290px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-5 {
    font-size: 3rem;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 575px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 2.25rem;
  }
}

.u-section-3 .u-layout-cell-2,
.u-section-3 .u-layout-cell-2:before,
.u-section-3 .u-layout-cell-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2:hover {
  transform: rotate(0deg) scale(1.1) !important;
}

.u-section-3 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2.hover {
  transform: rotate(0deg) scale(1.1) !important;
}

.u-section-3 .u-layout-cell-1,
.u-section-3 .u-layout-cell-1:before,
.u-section-3 .u-layout-cell-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
} .u-section-4 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 688px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 688px;
}

.u-section-4 .u-image-1 {
  background-position: 0% 72.03%;
  background-image: url("images/pexelsphoto1029844.jpeg");
  background-size: cover;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 1.125rem;
  line-height: 1.8;
  letter-spacing: 3px;
  text-transform: uppercase;
  width: 452px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 688px;
}

.u-section-4 .u-image-2 {
  background-position: 50% 100%;
  background-image: url("images/pexelsphoto1650627.jpeg");
  background-size: cover;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-size: 3rem;
  margin: 507px 91px 0;
}

.u-section-4 .u-text-3 {
  margin-left: 91px;
  margin-right: 91px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 567px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 567px;
    background-position: 0% 72.03%;
  }

  .u-section-4 .u-text-1 {
    width: 410px;
  }

  .u-section-4 .u-layout-cell-2 {
    background-position: 50% 100%;
    min-height: 567px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 41px;
    margin-right: 41px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 41px;
    margin-right: 41px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 747px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 747px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-top: 16px;
    margin-left: 0;
    margin-bottom: -8px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 747px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 505px;
    margin-left: 22px;
    margin-right: 22px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 651px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 715px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    width: 494px;
    margin-left: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 757px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 38px;
    margin-right: 38px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 410px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 668px;
  }

  .u-section-4 .u-text-1 {
    width: 320px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 477px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 23px;
    margin-right: 23px;
    font-size: 2.4000000000000004rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 610px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 493px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-5 .u-container-layout-1 {
  padding: 60px;
}

.u-section-5 .u-text-1 {
  font-size: 12.5rem;
  font-weight: 900;
  line-height: 0.8;
  margin: 0;
}

.u-section-5 .u-text-2 {
  font-size: 2.25rem;
  margin: 5px 0 0;
}

.u-section-5 .u-text-3 {
  margin: 16px 0 0;
}

.u-section-5 .u-container-layout-2 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, rgba(249, 231, 155, 0.5), rgba(249, 231, 155, 0.5));
  background-size: cover;
  padding: 30px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 520px;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
}

.u-section-5 .u-container-layout-3 {
  padding: 60px;
}

.u-section-5 .u-text-4 {
  font-size: 12.5rem;
  font-weight: 900;
  line-height: 0.8;
  margin: 0;
}

.u-section-5 .u-text-5 {
  font-size: 2.25rem;
  margin: 5px 0 0;
}

.u-section-5 .u-text-6 {
  margin: 16px 0 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 407px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 429px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 190px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 560px;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 0;
  }

  .u-section-5 .u-text-3 {
    margin-top: 21px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-3 {
    padding: 30px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.875rem;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 290px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-5 {
    font-size: 3rem;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 575px;
  }

  .u-section-5 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-5 {
    font-size: 2.25rem;
  }
}

.u-section-5 .u-layout-cell-2,
.u-section-5 .u-layout-cell-2:before,
.u-section-5 .u-layout-cell-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2:hover {
  transform: rotate(0deg) scale(1.1) !important;
}

.u-section-5 .u-layout-cell-2.u-layout-cell-2.u-layout-cell-2.hover {
  transform: rotate(0deg) scale(1.1) !important;
}

.u-section-5 .u-layout-cell-1,
.u-section-5 .u-layout-cell-1:before,
.u-section-5 .u-layout-cell-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-5 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
} .u-section-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-sheet-1 {
  min-height: 808px;
}

.u-section-6 .u-gallery-1 {
  height: 688px;
  margin: 60px auto;
}

.u-section-6 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  --gap: 17px;
}

.u-section-6 .u-gallery-item-1 {
  transition-duration: 1.75s;
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-1 {
  background-position: 50% 78.05%;
  transition-duration: 0.5s;
}

.u-section-6 .u-back-image-1 {
  object-position: 50% 78.05%;
  height: calc(100% + 50px);
  top: -50px;
}

.u-section-6 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-2 {
  transition-duration: 1.75s;
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-2 {
  background-position: 50% 78.05%;
  transition-duration: 0.5s;
}

.u-section-6 .u-back-image-2 {
  object-position: 50% 78.05%;
  height: calc(100% + 50px);
  top: -50px;
}

.u-section-6 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-3 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
  transition-duration: 1.75s;
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-3 {
  background-position: 50% 95.06%;
  transition-duration: 0.5s;
}

.u-section-6 .u-back-image-3 {
  object-position: 50% 95.06%;
  height: calc(100% + 50px);
  top: -50px;
}

.u-section-6 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-6 .u-gallery-item-4 {
  box-shadow: 0 0 0 0 rgba(0,0,0,0);
  transition-duration: 1.75s;
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-4 {
  background-position: 50% 50%;
  transition-duration: 0.5s;
}

.u-section-6 .u-back-image-4 {
  object-position: 50% 50%;
  height: calc(100% + 50px);
  top: -50px;
}

.u-section-6 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.5s;
  padding: 20px;
}

.u-section-6 .u-gallery-item-5 {
  transition-duration: 1.75s;
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-5 {
  background-position: 50% 50%;
  transition-duration: 0.5s;
}

.u-section-6 .u-back-image-5 {
  object-position: 50% 50%;
  height: calc(100% + 50px);
  top: -50px;
}

.u-section-6 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-6 .u-gallery-item-6 {
  transition-duration: 1.75s;
  --effect-scale: 1.25;
}

.u-section-6 .u-back-slide-6 {
  background-position: 50% 50%;
  transition-duration: 0.5s;
}

.u-section-6 .u-back-image-6 {
  object-position: 50% 50%;
  height: calc(100% + 50px);
  top: -50px;
}

.u-section-6 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-6 .u-gallery-1 {
    height: 567px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-gap: 17px;
  }

  .u-section-6 .u-back-image-1 {
    height: auto;
  }

  .u-section-6 .u-back-image-2 {
    height: auto;
  }

  .u-section-6 .u-back-image-3 {
    height: auto;
  }

  .u-section-6 .u-back-image-4 {
    height: auto;
  }

  .u-section-6 .u-back-image-5 {
    height: auto;
  }

  .u-section-6 .u-back-image-6 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1097px;
  }

  .u-section-6 .u-gallery-1 {
    height: 977px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 3051px;
  }

  .u-section-6 .u-gallery-1 {
    height: 2931px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1965px;
  }

  .u-section-6 .u-gallery-1 {
    height: 1845px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-7 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 433px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 52px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 321px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 20px;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-7 .u-text-2 {
  position: relative;
  margin: 20px 0 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: 31px auto 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 321px;
}

.u-section-7 .u-container-layout-2 {
  padding: 0;
}

.u-section-7 .u-image-1 {
  width: 321px;
  left: auto;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 377px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 198px;
    margin-bottom: -332px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 265px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 265px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 212px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 437px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-right: 104px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 437px;
  }

  .u-section-7 .u-image-1 {
    left: -81px;
    right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 922px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 488px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3rem;
    width: auto;
  }

  .u-section-7 .u-text-2 {
    width: 416px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 271px;
  }

  .u-section-7 .u-image-1 {
    object-position: 67.98% 50%;
    left: auto;
    right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 897px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 50px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 498px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-text-2 {
    width: 320px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 317px;
  }

  .u-section-7 .u-image-1 {
    left: 0;
    right: auto;
  }
} .u-section-8 {
  min-height: 773px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-8 .u-image-1 {
  min-height: 773px;
  background-image: url("images/pexelsphoto1600130.jpeg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-image-2 {
  min-height: 773px;
  background-image: url("images/pexelsphoto1622419.jpeg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-1 {
  letter-spacing: 0;
  font-size: 3rem;
  text-transform: none;
  font-weight: 400;
  margin: 50px 0 0;
}

.u-section-8 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.125rem;
  margin: 10px 0 0;
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 637px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-1 {
    min-height: 637px;
  }

  .u-section-8 .u-image-2 {
    min-height: 637px;
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 488px;
  }

  .u-section-8 .u-image-1 {
    min-height: 488px;
  }

  .u-section-8 .u-image-2 {
    min-height: 488px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 80px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 221px;
    margin-bottom: -30px;
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 1464px;
  }

  .u-section-8 .u-image-1 {
    min-height: 732px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-2 {
    min-height: 732px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-8 .u-text-2 {
    margin: 459px 56px 0;
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 1076px;
  }

  .u-section-8 .u-image-1 {
    min-height: 461px;
  }

  .u-section-8 .u-image-2 {
    min-height: 615px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 37px;
  }

  .u-section-8 .u-text-2 {
    margin-top: 411px;
    margin-left: 0;
    margin-right: 0;
  }
}